POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=employment_agency

AUTH_SECRET_KEY=your_32_plus_character_secret_key_here