alembic
asyncpg
bcrypt
dishka
docker
fastapi
httpx2
passlib
psycopg2-binary
pydantic
pydantic-settings
pytest
pytest-asyncio
python-dotenv
python-jose
python-multipart
SQLAlchemy
testcontainers
uvicorn