body {
font-family: Arial;
background: #f4f6f8;
}

.container {
width: 100%;
display: flex;
justify-content: center;
margin-top: 100px;
}

.form-box {
background: white;
padding: 30px;
border-radius: 10px;
width: 300px;
}

input, select {
width: 100%;
margin: 10px 0;
padding: 8px;
}

button {
width: 100%;
padding: 10px;
background: #2c7be5;
color: white;
border: none;
}

.toggle {
display: flex;
justify-content: space-between;
margin-bottom: 15px;
}

.error {
color: red;
}
